{% extends "layout.html" %}
{% set active_page = "donors" %}

{% set heading1 = "Donor search" %}

{% block content %}

    <h1>Donor search</h1>

    <br />

    <form action="/donors" method="post">
            
        <div class="form-group">
            <label>Donor name</label>
            <input autofocus class="form-control" name="donorName" type="text">
        </div>

        <div class="row form-group">

            <div class="col">

                <label>First Donation Date On or After</label>
                <input class="form-control" name="firstDate" type="date">

            </div>

            <div class="col">

                <label>Last Donation Date On or Before</label>
                <input class="form-control" name="lastDate" type="date">

            </div>

        </div>

        <div class="row form-group">

            <div class="col">

                <label>Minimum Total Amount (all time)</label>
                <input class="form-control" name="minAmount" type="number">

            </div>

            <div class="col">

                <label>Maximum Total Amount (all time)</label>
                <input class="form-control" name="maxAmount" type="number">

            </div>

        </div>

        <div class="form-group">
            <label>Recurring Status</label>
            <select class="form-control" name="status">
                <option value="" selected>All</option>
                <option value="Active">Active</option>
                <option value="Failed">Failed</option>
                <option value="Merged">Merged</option>
                <option value="Redacted">Redacted</option>
            </select>
        </div>

        <!--- TODO: maybe turn this into checkboxes so ppl can easily find who is NOT recurring? --->
        <div class="form-group">
            <label>Donor Type</label>
            <select class="form-control" name="donorType">
                <option value="" selected>All</option>
                <option value="ONE_TIME">One Time</option>
                <option value="RECURRING">Recurring</option>
                <option value="RETURNING">Returning</option>
            </select>
        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
           
    </form>

{% endblock %}